<header>
  <div class="slider-container">
    <div class="language-menu">
      <a href="/fr/index.html">FR <img src="/assets/images/french_flag.png" alt="Français" class="flag-icon"></a> |
      <a href="/en/index.html">EN <img src="/assets/images/american_flag.png" alt="English" class="flag-icon"></a>
    </div>
    <div id="slider">
      <img src="/assets/images/image1.jpg" alt="Application mobile 1">
      <img src="/assets/images/image2.jpg" alt="Application mobile 2">
      <img src="/assets/images/image3.jpg" alt="Application mobile 3">
      <img src="/assets/images/image4.jpg" alt="Application mobile 4">
      <img src="/assets/images/image5.jpg" alt="Application mobile 5">
    </div>
    <div class="dots"></div>
    <div class="header-text">
      <h1>Assistance & Documentation</h1>
      <p>Random Nutrition</p>
    </div>
  </div>
</header>
